<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <connectionStrings>
    <!--<add name="strconn" connectionString="Data Source=DESKTOP-DOCUE6P\SQLEXPRESS;Initial Catalog=WashingStore;Integrated Security=SSPI"/>-->
    <add name="strconn" connectionString="Data Source=DESKTOP-239A8C5;Initial Catalog=WashingStore;User ID=admin;Password=p@ssw0rd;Integrated Security=True;"/>
  </connectionStrings>
</configuration>
